<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.icicitrader</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/asinghai/trader/breeze_venv/bin/python</string>
        <string>/Users/asinghai/trader/continuous_trading.py</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>WorkingDirectory</key>
    <string>/Users/asinghai/trader</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/asinghai/trader/logs/launchd_error.log</string>
    
    <key>StandardOutPath</key>
    <string>/Users/asinghai/trader/logs/launchd_output.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>PYTHONPATH</key>
        <string>/Users/asinghai/trader</string>
        <key>HOME</key>
        <string>/Users/asinghai</string>
    </dict>
    
    <key>ProcessType</key>
    <string>Background</string>
    
    <key>AbandonProcessGroup</key>
    <true/>
    
    <key>SessionCreate</key>
    <true/>
    
    <key>EnableGlobbing</key>
    <false/>
</dict>
</plist>